.containerQuemSomos {
    height: 95vh;
    background-image: url('../../assets/somos.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.boxTextoQuemSomos {
    // border: solid red 5px;
    width: 42%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        color: #205691;
        font-size: 2.5rem;
        width: 70%;
       
    }
    p {
        font-size: 1.5rem;
        width: 85%;
    }
}

@media (min-width: 201px) and (max-width: 500px){

.containerQuemSomos {
    height: 75vh;
    background-image: none;
    display: flex;
    justify-content: space-around;   
}
.boxTextoQuemSomos {
   
    width: 100%;
    height: 70vh;
   align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        width: 90%;
        height: 10vh;         
    }
    p {
        font-size: 1rem;
        width: 95%;
    }
}
}