.boxTituloAcoes {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        color: #205691;
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
        width: 45%;
        text-align: center;
    }
}
.containerCardsDeAcoes {
    // background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardsDeAcoes {
    // border: solid red;
    width: 26%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    img {
        height: 15vh;
    }
    h2 {
        color: #122F97;
        font-size: 1.5rem;
    }
    p {
        text-align: center;
        // border: solid;
        width: 80%;
    }
    
    h3{
        color:#205691;
    }
    button {
        background-color: #205691;
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (min-width: 201px) and (max-width: 500px){

    .boxTituloAcoes {
    
    h2 {
      
        font-size: 2rem;
    }
    p {
        font-size: 0.8rem;
        width: 70%;
        }
}
.containerCardsDeAcoes {
    // background-color: pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.cardsDeAcoes {
   // border: solid red;
    width: 90%;
    height: 50vh;
   
    img {
        height: 20vh;
        width: 90%;
    }
    h2 {
        color: #122F97;
        font-size: 1.5rem;
    }
    
    p {
        text-align: center;
        // border: solid;
        width: 80%;
    }
  
}
}