.I{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 75vh;

    .T{
    display: flex;
    flex-direction: column;
    color: #205691;
    justify-content: center;
    
    width: 45%;
    height: 55vh;
   
     h2{
        font-size: 5rem;
        margin-bottom: 0.5rem;
         }

     p{
        font-size: 2.5rem;
    }
    }
    
    img{
        width: 36%;
        height: auto;
    }
}