.I{
     display: flex;
    align-items: center;
    justify-content: center;

    .T{
        height: 40vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        color: #205691;
   
     h1{
        font-size: 5rem;
      
         }

     p{
        font-size: 2rem;
    }
    }
    
    img{
        width: 36%;
        height: auto;
    }
}