.I{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; 
   // border: solid red;
    .T{
        height: 40vh;
        width: 55%;
        display: flex;
        flex-direction: column;
        color: #205691;
      // border: solid;
     h1{
        font-size: 3.5rem;
        width: 60%;
          height: 25vh;    
         }

     p{
        font-size: 1.5rem;
        width: 80%; 
             // border: solid;
       text-align: left;
    }
    }
    
    img{
        width: 40%;
        height: 75vh;
       // border:solid;
    }
}

@media (min-width: 201px) and (max-width: 500px){


.I{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; 
   //border: solid red;
    .T{
        height: 50vh;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
         h1{
        font-size: 2rem;
        width: 75%;
          height: 20vh;    
         }

     p{
        font-size: 0.8rem;
        width: 100%; 
             // border: solid;
       text-align: center;
    }
    }
    
    img{
        width: 50%;
        height: 35vh;
        border-radius: 100%;
       // border:solid;
    }
}
}