.navBar{
    display: flex;
    background-color: #205691;
    justify-content: space-around;
    align-items: center;
   width: 100%;
    height: 13vh;

    .logo{

        width: 80%;
    }
    .imgPerfil{
        
        border-radius: 50%;
        width: 145%;
        height: 11vh;
        object-fit: cover;
        border: solid #00AAFF;
    }

    ul{
        display: flex;
        width: 70%;
        justify-content: space-around;
       
        
    a {
        text-decoration: none;
        color: #FFFF;
        font-size: 1.8rem;
    }

    }
}

// vai valaer em telas que tenham a largura entre 201px a 500px;
@media (min-width: 201px) and (max-width: 500px){

    .navBar{
        //background-color: red;
        display: flex;
        justify-content:space-around;
        //border: solid red;
        width: 100%;
        height: 10vh;
        padding: 15px;

        .imgPerfil{

            height:8vh;
          //border: solid;
        }

        .logo{

            width:55%;
          //border: solid red;
            }
        
        ul{
          //border: solid;
            display: flex;
            justify-content: space-around;
            width: 100%;
          
        a{
            font-size: 0.8rem;
             
        }
         }

        
    }

}

 