.navBar{
    display: flex;
    background-color: #205691;
    justify-content: space-around;
    align-items: center;
   width: 100%;
    height: 20vh;

    .logo{

        width: 80%;
    }
    .imgPerfil{
        
        border-radius: 50%;
        width: 150%;
        height: 15vh;
        object-fit: cover;
        border: solid #00AAFF;
    }

    ul{
        display: flex;
        width: 70%;
        justify-content: space-around;
       
        
    a {
        text-decoration: none;
        color: #FFFF;
        font-size: 2rem;
    }

    }
}

// vai valaer em telas que tenham a largura entre 201px a 500px;
@media (min-width: 201px) and (max-width: 500px){

    .navBar{
        //background-color: red;
        display: flex;
        justify-content: space-around;
        border: solid red;
        
        ul{
        a{
            font-size: 0.8rem;
            
        }
    }
        .imgPerfil{

            height: 12vh;
        }
        .logo{

            width: 60%;
        }
    }

}

 