nav{
    display: flex;
    background-color: #205691;
    justify-content: space-around;
    align-items: center;
   width: 100%;
    height: 20vh;

    .logo{

        width: 80%;
    }


    .imgPerfil{
        
        border-radius: 50%;
        width: 150%;
        height: 15vh;
        object-fit: cover;
        border: solid #00AAFF;
        
    }

    ul{
        display: flex;
        width: 70%;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
        
    a {
        text-decoration: none;
        color: #FFFF;
        font-size: 2rem;
    }

    }

    

}

 