Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //border: solid;
    height: 10vh;
   background-color: #205691;
   color:#FFFF;
}    

.logoName{

display: flex;
justify-content: space-around;
align-items: center;
width: 18%;
height: 8vh;

img{

    width: 28%;
   
}
}

p {
       // border: solid white;
        width: 30%;
        text-align: center;
        font-size: 0.8rem;
}

.imagens{
display: flex;
justify-content: space-around;
align-items: center;
width: 20%;
height: 5vh;
//border: solid;

}

@media (min-width: 201px) and (max-width: 500px){

Footer{
    display:flex;
    flex-direction: column-reverse;
    height:35vh;
   // border: solid red;
   
}    

.logoName{

width: 60%;
height: 8vh;

img{

    width: 30%;
   
}
}

p{
font-size: 0.8rem;
width:100%;
}

.imagens{
display: flex;
justify-content: space-around;
align-items: center;
width: 50%;
height: 6vh;
//border: solid;

}
}