.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    //border: solid;
    height: 10vh;
   background-color: #205691;
}    

.logoName{

display: flex;
justify-content: space-around;
align-items: center;
width: 18%;
height: 8vh;
color:#ffff;

img{

    width: 65px;
   
}
}

.texto{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:#ffff;

}

.imagens{
display: flex;
justify-content: space-around;
align-items: center;
width: 15%;
height: 10vh;
//border: solid;

}
